<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
     -->
     <ion-segment [value]="projects" (ionChange)="segmentHasChanged($event)">
      <ion-segment-button [value]="projects">
        <ion-label>Projects</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="articles">
        <ion-label>Articles</ion-label>
      </ion-segment-button>
    </ion-segment>
    
     <ion-accordion-group *ngFor="let item of currentList"   value={{item.name}} class="article-accordion">
      <ion-accordion  > //
        <ion-item slot="header" color="light">
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
        <div class="ion-padding list-item" slot="content" (click)="itemCLicked($event)">
            <div>
                <span>
                  <p>{{item.description}}</p>
                  <p>(with {{item.collab}})</p>
                </span>
                <span> 
                  <a href={{item.url}}><img src="../science_direct_icon.jpg"></a>  
                </span>
                <span> 
                  <a href={{item.arXiv}}><img src="128x128.png"></a> 
                </span>
                  
          </div>
          
        </div>
      </ion-accordion>
     </ion-accordion-group>
  </div>
</ion-content>
